/* ==========================================================================
   Default skin
   ========================================================================== */

$link-color: #4370c1 !default;

.details {
   font-size: 0px;

}

// Intentionally left blank
/* contrast syntax highlighting (base16) */


.page__footer {
   color: #5d5d5d !important; // override
   background-color: #ffffff !important;
   border-top: 1px rgb(233, 233, 233) solid !important;
 }